vendor
node_modules
reports
storage/logs
public/swagger-ui-assets

.idea
*.iml
Homestead.json
Homestead.yaml
.phpunit.result.cache
.vscode
.DS_Store
.env
auth.json

.phpstorm.meta.php
_ide_helper.php

infection
infection/*
infection.json5

.docker/localstack/dynamodb/pestroutes-credentials*.json
.docker/localstack/dynamodb/worldpay-credentials*.json

compose.override.yml
