<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Contract">
            <directory>./tests/Contract</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>./tests/Integration</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <!-- <env name="DB_CONNECTION" value="sqlite"/> -->
        <!-- <env name="DB_DATABASE" value=":memory:"/> -->
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="LARAVEL_PARALLEL_TESTING_WITHOUT_DATABASES" value="true"/>
        <ini name="memory_limit" value="256M"/>
    </php>
    <source>
        <include>
            <directory>./app</directory>
        </include>
        <exclude>
            <directory>./app/PaymentProcessor/Enums</directory>
            <directory>./app/Instrumentation</directory>
            <directory>./app/Logging</directory>
            <directory>./app/Models/CRM</directory>
            <directory>./app/Models/CRM</directory>
        </exclude>
    </source>
</phpunit>
