{
  "pestroutes-credentials": [
    {
      "PutRequest": {
        "Item": {
          "office_id": {"N": "1"},
          "authentication_key": {"S": "example-auth-key"},
          "authentication_token": {"S": "example-auth-token"}
        }
      }
    },
    {
      "PutRequest": {
        "Item": {
          "office_id": {"N": "2"},
          "authentication_key": {"S": "example-auth-key-2"},
          "authentication_token": {"S": "example-auth-token-2"}
        }
      }
    }
  ]
}
