{
  "worldpay-credentials": [
    {
      "PutRequest": {
        "Item": {
          "office_id": {"N": "1"},
          "tokenization_acceptor_id": {"S": "123456"},
          "tokenization_account_id": {"S": "123"},
          "tokenization_account_token": {"S": "6C9417C7B771B5842445F5C2DF82C75G654FFE36C701"},
          "tokenization_terminal_id": {"S": "1"},
          "validation_account_id": {"S": "89764"},
          "validation_account_token": {"S": "5BC15FCB70FDB766564655456446E359DD5EC01"},
          "validation_merchant_number": {"N": "875451"},
          "validation_terminal_id": {"S": "9"}
        }
      }
    },
    {
      "PutRequest": {
        "Item": {
          "office_id": {"N": "2"},
          "tokenization_acceptor_id": {"S": "654321"},
          "tokenization_account_id": {"S": "321"},
          "tokenization_account_token": {"S": "6C9417C7B771B5842445F5C2DF82C75G654FFE36C701"},
          "tokenization_terminal_id": {"S": "2"},
          "validation_account_id": {"S": "89764"},
          "validation_account_token": {"S": "5BC15FCB70FDB766564655456446E359DD5EC01"},
          "validation_merchant_number": {"N": "875451"},
          "validation_terminal_id": {"S": "9"}
        }
      }
    }
  ]
}
